@import url('./utils/utils');
.App {
  background-color: rgb(19, 19, 70);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
